.nav {
	display: flex;
	top: 0;
	left: 0;
	justify-content: flex-end;
	font-style: italic;
	background: tomato;
	background-image: linear-gradient(62deg, #181719 0%, #fa1807 100%);
	position: fixed;
	width: 100%;
	z-index: 20;	
	opacity: 0.5;
	transition: opacity 0.5s;
		&:hover {
			opacity: 1;
		}
  }
  .nav-list {
	display: flex;
	text-transform: uppercase;
	list-style: none;
	flex-flow: row wrap;
  /*   margin-left: auto; */
  /*   font-size: 1.5rem; */
	font-size: 2vw;
  }
  
  .nav-list li {
	margin: 0 12px 0 12px;
	padding: 5px;
  }
  
  .nav-list a {
	 color: #000;
  }
  .welcome-section {
  /*   width: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }

  #preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}

  .visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
  }
  
  .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
  }