.progress__name {
 
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
}

.progress__element {
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-radius: 3px;
}

.progress__line {
width: 0%;
height: 4px;
background-color: white;
position: relative;
}

.progess__tooltip {
background-color: grey;
position: absolute;
//right: 0;
right: -15px;
top: -32px;
width: 31px;
//height: 21px;
font-size: 11px;
color: white;
font-weight: bold;
//line-height: 1.82;
line-height: 18px;
text-align: center;
//font-family: "Roboto";   
border-radius: 3px;
display: none;
    &::before {
        content: '';
        border: 4px solid transparent;
        border-top: 4px solid grey;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-30%);
        //transform: rotateX(90deg);
    }
  
}
