.projects-section {
    background-color: #45567D;
  }
  .project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .project-tile {
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .projects__item {
    margin: 20px;
    margin-left: 10px;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid grey;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-width: 450px;
    min-height: 500px;
    background: #303841;
  }
  .projects__item h3 {
    font-weight: normal;
    font-size: 3vh;
    text-align: right;
  }
  /* .project-tile:before, .project-tile:after {
      display: inline-block;
      content: "";
      border-top: .3rem solid #fafafa;
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-1rem);
  } */
  .projects__item iframe {
    width: 100%;
    height: 500px;
  }
  .project__list {
    padding-top: 10px;
    font-size: 2.5vw;
   
    color: #fafafa;
  }
  .project__list i {
    color: tomato;
  }
  .project__list a {
    color: tomato;
  }
  .contact-section {
    background: #303841;
    color: #fafafa;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  // slider

  .slider {
    position: relative;
    overflow: hidden;
    min-width: 980px;
  }
  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
    max-width: 90%;
    justify-content: space-between;
  }
  .slider__item {
    overflow: hidden;
    display: flex;
    margin: 0 15px;
    flex: 0 0 50%; /* определяет количество активных слайдов (в данном случае 2 */
    max-width: 50%; /* определяет количество активных слайдов (в данном случае 2 */
  }
  /* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */
  .slider__control {
    position: absolute;
    display: none;  
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px; /* ширина кнопки */
    height: 50px; /* высота кнопки */ 
    opacity: .5; /* прозрачность */
    background: #000; /* цвет фона */
  }
  .slider__control_show {
    display: flex;
  }
  .slider__control:hover,
  .slider__control:focus {
    text-decoration: none;
    outline: 0;
    opacity: .9; /* прозрачность */
  }
  .slider__control_left {
    left: 0;
  }
  .slider__control_right {
    right: 0;
  }
  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px; /* ширина иконки (стрелочки) */
    height: 20px; /* высота иконки (стрелочки) */
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  @media (min-width: 980px) {
    .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }