.footer {
  background: #303841;
  padding-bottom: 10px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background: tomato;
  margin-bottom: 10px;
}

.footer p {
  color: #fafafa;
  font-size: 2vw;
  text-align: center;
}