$primary: #252525;
$black: #000;
$white: #fff;
$second: #e5493a;
$text-color: #707070;
$banner-text: #555555;
$circleBg: #363636;
$iconBg: #363636;
$colorTitle: #636363;
$colorText: #555555;
$green: #8dc63f;
